header{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    color: $white;
}

main{
    padding: 50px 0px;
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 600px;
    height: 500px;
    background-color: $black;
    background-image: url("../img/black_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px $black;
    position: relative;
}

.ninja{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    // background-color: $green;
    background-position: center center;
    background-color: $green;
    // background-image: url("../img/down1.png");
    border-radius: 20px;
    transition: .1s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
}

.instructions{
    text-align: center;
    margin-bottom: 50px;
}

footer{
    background-color: #222;
    text-align: center;
    padding: 10px 0px;

    span{
        color: $white;
    }
}